.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 50%;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid black; */
}

.scroll::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(114, 114, 114);
}