.test {
    width: 80%;
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.test > div:nth-child(1) {
    flex-grow: 9;
}


.test > div:nth-child(2) {
    flex-grow: 1;
}

.inputs > span {
    height: 2rem;
    width: 90%;
}

.inputs span input {
    height: 100%;
    width: 95%;
}

.inputs > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
}

.inputs > div span{
    width: 50px;
    font-size: 2rem;
}

.inputs > div span:hover{
    cursor: pointer;
}