@import url(styles.css);

.btn {
  min-width:80px;
  min-height: 30px;
  cursor: pointer;

  color: var(--color-dark);
  border: 3px solid var(--color-light);
  padding: 10px;
  font-weight: 600;

  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;

  transition: color var(--time-transition);
}

.btn:disabled {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: default;
}