@import url(styles.css);

.dropDown {
  width: 373px;
  margin-top: 20px;
  margin-bottom: 0;
  border: 2px solid var(--color-light);
  border-radius: 10px 10px 0px 0px;
}

.display {
  display: flex;
  justify-content:space-between;
  padding: 10px;
}

.box {
  position: absolute;
  width: 373px;
  max-height: 200px;

  border: 2px solid var(--color-lighter);
  border-top: 0;
  border-radius: 0px 0px 10px 10px;

  background-color: var(--color-white);

  transition: background-color var(--time-transition);
}

.box div {
  height: 2rem;

  margin: 0px;
  padding-left: 5px;
  padding-top: 15px;
  border: 1px solid var(--color-light);
  
  background-color: var(--color-white);

  transition: background-color var(--time-transition);
}

.box div:hover {
  background-color: var(--color-light);

  transition: background-color var(--time-transition);
}

.checked {
  background-color: var(--color-mid) !important;
  
  transition: background-color var(--time-transition);
}