.menuCon {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  align-items: end;

  /* height: 100%; */

  margin-top: 200px;
  
}

.menu {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  margin-top: 200px;
  
  /* position: sticky; */
  /* height: 70%; */
  /* top: 0; */

  border-radius: 100px 0px 0px 0px;
  padding-top: 100px;
  box-shadow: 7px 7px 10px #737373 inset;

  background-color: #bfbdbd;

  z-index: 0;
}

.menu a:visited {
  color:#606060;
}

.menu a {
  color:#606060;
  text-decoration: none;
  display: block;
  /* overflow: hidden; */
  /* opacity: 0; */
}

.menuLink {
  font-size: 25px;
  padding: 20px 0px 20px 20px;
}

.menu > div {
  /* font-size: 25px;
  padding: 20px 0px 20px 0px; */
  width: 100%;
}

.todoList {
  font-size: 25px;
  padding: 20px 0px 20px 0px;
}

.todoList > div:nth-child(1) {
  padding: 0px 0px 0px 20px;
}

.plus {
  margin-left: 55px;
  cursor: pointer;
}

.menu a:hover {
  background-color: #606060;
  color: white;
  transition: all 0.75s;
}

.active{
  background-color: #606060;
}