@import url(styles.css);

.menuCon {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  align-items: end;

  margin-top: 200px;
}

.menu {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  margin-top: 200px;
  

  border-radius: 100px 0px 0px 0px;
  padding-top: 100px;
  box-shadow: 7px 7px 10px var(--color-dark) inset;

  background-color: var(--color-mid);

  z-index: 0;
}

.menu a:visited {
  color:var(--color-dark);
}

.menu a {
  display: block;

  color:var(--color-dark);
  text-decoration: none;
}

.menuLink {
  font-size: 25px;
  padding: 20px 0px 20px 20px;
}

.menu > div {
  width: 100%;
}

.todoList {
  font-size: 25px;
  padding: 20px 0px 20px 0px;
}

.todoList > div:nth-child(1) {
  padding: 0px 0px 0px 20px;
}

.plus {
  margin-left: 55px;
  cursor: pointer;
}

.menu a:hover {
  background-color: var(--color-dark);
  color: white;
  transition: all 0.75s;
}

.active{
  background-color: var(--color-dark);
}