@import url(styles.css);

.passwordChange {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: absolute;
  top: 25%;

  height: 60%;
  width: 30%;

  border: 3px solid var(--color-mid);
  border-radius: 30px;
  padding-top: 20px;
  padding-left: 50px;
  margin: 0 auto;

  background-color: var(--color-lighter);
}

.passwordChange > div {
  margin-bottom:  4rem;
}

.checkMessage {
  position: absolute;
  translate: 0rem 3.3rem;
}