@import url(styles.css);

.profile h1{
  color: var(--color-font);
  margin-top: 50px;
  margin-left: 70px;
}

.hr {
  width: 90%;
  margin-left : 70px;
  border-bottom: 4px solid var(--color-light);
  line-height: 0.5em;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profileImg img {
  width: 150px;
  height: 150px;

  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: 70px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  object-fit: cover;
}

 
.profileDetails h2 {
  font-size: var(--size-font-mid);
}

.profileDetails > div > p {
  width: 20%;

  border: 1px solid var(--color-dark);
  border-radius: 10px;
  margin-top: 20px;
  padding: 5px;
  padding-left: 10px;

  font-size: var(--size-font-small);

  background-color: var(--color-input-bg);
}

.profileDetails > div {
  margin-left: 70px;
  margin-bottom: 50px;
}
