:root {
  --color-dark: #606060;
  --color-mid: #9b9b9b;
  --color-light: #d4d4d4;
  --color-lighter: #f9f9f9;
  --color-white: white;
  
  --color-font: var(--color-dark);
  --color-input-bg: #9b9b9b10;
  
  --size-font-big: 2.5rem;
  --size-font-mid: 1.8rem;
  --size-font-small: 1.3rem;
}

.dark-mode {
  --color-dark: #dedede;
  --color-mid: #7e7e7e;
  --color-light: #676767;
  --color-lighter: #414141;
  --color-white: rgb(34, 34, 34);

}