.star{
  /* margin-top: 0px;
  margin-left: 50px; */
  display: flex;
  justify-content: space-between;
  
}

.todoapp__item {
  display: flex;
  width: 90%;
  height: 65px;
  padding: 10px 20px 0px 20px;
  /* height: 20px; */
  margin-top: 4px;
  margin-bottom: 30px;
  margin-left: 29px;
  font-size : 22px;
  box-shadow: 3px 3px 5px grey;
  /* border: 2px solid lightgrey; */
  border-radius: 20px;
  background-color: rgba(137, 182, 187, 0.656);
}
.todoapp__item-checkbox {
  margin-left: 0px;
  margin-right: 10px;
  cursor: pointer;
  
}
.todoapp__item-ctx {
  flex: 1;
  /* min-height: min-content; */
  /* margin-top: 100px;
  margin-left: 100px; */
}

.todoapp__item-deadline{
  color: rgba(199, 59, 71, 0.715);
  width: 50%;
  /* float: right;
  display: flex;
  justify-content: flex-end; */
}

.todoapp__item-edit-btn,
.todoapp__item-delete-btn {
  /* border: none;
  border-radius: 0; */
  color: rgb(100, 100, 100);
  margin-left: 10px;
  height: 30px;
  width: 30x;
  background-color: inherit;
}
.todoapp__item-edit-btn:hover,
.todoapp__item-delete-btn:hover {
  cursor: pointer;
  /* background-color: #d0ebff; */
}
.todoapp__item-edit-btn {
  margin-right: 3px;
}

.show-details{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 70px;
    font-size: 15px;
}
.show-details-check{
  color: grey;
  text-decoration-line: line-through;
}

.icon div span {
  font-size: 2rem;
}

/* .todoapp__item a:visited {
  color: #606060;
  text-decoration: none;
} */