.test {
    width: 90%;
    
    margin: 0 auto;
}

.test > div:nth-child(1) {
    /* flex-grow: 9; */
    height: 600px;
}


.test > div:nth-child(2) {
    /* flex-grow: 3; */
    margin-top: 30px;
    /* height:300px; */
}

.inputs {
    width: 100%;
}

.inputs > span {
    height: 2rem;
    width: 90%;
}

.inputs span input {
    height: 100%;
    width: 95%;
}

.inputs > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
}

.inputs > div span{
    width: 50px;
    font-size: 2rem;
}

.inputs > div span:hover{
    cursor: pointer;
}