@import url(styles.css);

.star__con{
  display: flex;
  justify-content: space-between;
}

.star {
  margin-left: 30px;

  font-size: 1.5rem;
  word-spacing:-30px;
  color: #edf01a;
}

.todoapp__item {
  display: flex;
  width: 90%;
  height: 65px;

  padding: 10px 20px 0px 20px;
  margin-top: 4px;
  margin-bottom: 30px;
  margin-left: 29px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px var(--color-mid);
  
  font-size : 22px;
  /* background-color: rgba(137, 182, 187, 0.656); */
  background-color: var(--color-theme);

  transition: background-color var(--time-transition), box-shadow var(--time-transition);
}

.todoapp__item-checkbox {
  margin-left: 0px;
  margin-right: 10px;
  cursor: pointer;
}

.todoapp__item-ctx {
  flex: 1;
}

.todoapp__item-deadline{
  color: rgba(199, 59, 71, 0.715);
  width: 50%;
}

.todoapp__item-edit-btn,
.todoapp__item-delete-btn {
  margin-left: 10px;
  height: 30px;
  width: 30x;
  background-color: inherit;
}
.todoapp__item-edit-btn:hover,
.todoapp__item-delete-btn:hover {
  cursor: pointer;
}

.todoapp__item-edit-btn {
  margin-right: 3px;
}

.show-details{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 70px;
    font-size: 15px;
}
.show-details-check{
  color: var(--color-dark);
  text-decoration-line: line-through;
}

.icon div span {
  font-size: var(--sice-font-big);
}

.edit__cover {
  position:fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.edit__box {
  position: relative;
  top: 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 400px;
  height: 300px;

  border: 1px solid var(--color-mid);
  border-radius: 30px;
  padding-top: 20px;
  margin: 0 auto;

  background-color: var(--color-white);

  transition: background-color var(--time-transition);
}

.todoName_checked {
  color: var(--color-dark);
  text-decoration: line-through;
}