@import url(styles.css);

.pointer {
  cursor: pointer;
}

.todoTable {
  height: 100%;
}

.funcBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 50px 80px 20px 40px;
}

.a a {
  font-size: var(--size-font-mid);
  text-decoration: none;
  color: var(--color-dark);
}

.a a:visited {
  text-decoration: none;
  color: var(--color-dark);
}

.func {
  display: flex;
  justify-content: space-between;

  width: 20%;

  margin-right: 50px,;
}

.func-btn {
  width: 100px;

  border-radius: 10px;
  padding: 5px;
  
  font-size: var(--size-font-mid);
  text-align: center;
  background-color: var(--color-input-bg);

  cursor: pointer;
  transition: background-color var(--time-transition);
}

.hr {
  width: 93%;

  margin-left: 18px;
  border-bottom: 4px solid var(--color-mid);
  line-height: 0.5em;
}

.table {
  height : 85%;
  margin-top : 15px;
}